<title>TODO List</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.min.css" integrity="sha256-/8xGgcV6Mp9fFa2u2lLYOWYNluCdrHEvBfiwhpkD/Js=" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/south-street/theme.min.css" integrity="sha256-j5WK5GB3+w3i2jRf0bV9dkjJ+mm+TiSEG6WgNiD+gWk=" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css" integrity="sha256-rxais37anKUnpL5QzSYte+JnIsmkGmLG+ZhKSkZkwVM=" crossorigin="anonymous" />
<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous">
  </script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous">
</script>




<style>
	body{
		background: linear-gradient(#84c1cd, rgba(132, 193, 205, 0.6) 100%);
	}
	input{
		width: 100%;
		padding: 10px;
		margin-bottom: 15px;
		box-sizing: border-box;
	}
	.container{
		width:40%;
		margin: 50px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
	.item-row{
		background-color: #84c1cd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: white;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}
	.save{
		background-color:  #84c1cd;
		color: white;
	}
	.delete{
	    background-color: red;
	    color: white;
	    width: 10%;
	 }
	 .edit{
	    background-color: skyblue;
	    color: black;
	    width: 10%;
	 }
	 .timer{
	background-color: #dc3545;
	border-radius: 5px;
	padding: 5px;
    }

    .done{
	background-color: #3cb371;
	border-radius: 5px;
	padding: 5px;
    }
</style>
<span style="position: center;"><h1>TODO List</h1></span>
<div class="container">
	<form method='GET' action=''>
		{{searchfilter.form}}
		<input type='submit' value='Search'/>
	</form>
	<form method="POST" action="/">
		{% csrf_token %}
		{{form}}
		<input class="btn save" type="submit" name="save">
	</form>
	<div class="todo-list">
	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-light edit" href="{% url 'update_task' task.id %}">Edit</a>
			<a class="btn btn-sm btn-light delete" href="{% url 'delete_task' task.id %}">Delete</a>
		    <h5><small>{{ task.create_time|timesince }}</small></h5>
			{% if task.status == True %}
			<span class="done" style="float:right"><b>Completed</b> {{task.create_time}}</span>
			{% else %}
			<span style="float: right;" class="timer"><b>Complete within:</b> {{ task.complete_time |timeuntil }}</span>
			{% endif %}
			<span>{{task}}</span>
		</div>

	{% endfor %}
<div class="pagination">
    <span class="step-links" style="color:#E7755D">
        {% if tasks.has_previous %}
            <a href="?{{ page_request_var }}={{ tasks.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
        </span>

        {% if tasks.has_next %}
            <a href="?{{ page_request_var }}={{ tasks.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
         <a href="?{{ page_request_var }}={{ tasks.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <br>Total tasks : {{ total_tasks }}
    <br>Completed tasks: {{ completed_tasks }}
	<br>Percentage : {{ percentage }}
	</div>
</div>

